@model List<ResultServiceDto>
<section class="service section-padding secondary-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h4 class="subheading">services</h4>
                    <span class="subtitle">Hizmetlerimiz</span>
                    <h2>Evcil Dostlarımız İçin <span>Her Şey</span></h2>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                var index = Model.IndexOf(item); // Öğenin indeksini al
                var serviceNumber = index + 1; // Sıra numarasını hesapla
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-img">
                            <span>@serviceNumber.ToString("D2")</span>
                            <img src="@item.PhotoUrl" alt="" class="img-fluid">
                        </div>
                        <h4>@item.Name</h4>
                        <p>@item.Explanation</p>
                        <a href="#" class="btn btn-main2">Daha Fazla<i class="ti-angle-right"></i></a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>