
<header>
    <!-- Main Menu Start -->

    <div class="site-navigation main_menu " id="mainmenu-area">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index.html">
                    <img src="https://i.hizliresim.com/cif2ooh.png" alt="Orgenik" class="img-fluid" style="height:100px;width:150px">
                </a>

                <!-- Toggler -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a href="/Default/Index/" class="nav-link">
                                ANA SAYFA
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="/About/Index/" class="nav-link">
                                HAKKIMIZDA
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a href="/Service/Index/" class="nav-link">
                                HİZMETLERİMİZ
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a href="/BlogList/Index/" class="nav-link">
                                BLOGLAR
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a href="/Contact/Index/" class="nav-link">
                                ULAŞIN
                            </a>
                        </li>
                    </ul>

                    <div class="header-contact d-flex align-items-center">
                        <div class="header-contact-icon">
                            <i class="ti-headphone-alt"></i>
                        </div>
                        <div class="contact-text">
                            <span>Destek için </span>
                            <h4>4440122</h4>
                        </div>
                    </div>
                </div> <!-- / .navbar-collapse -->
            </nav>
        </div> <!-- / .container -->
    </div>
</header>

<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="block">
                    <h1>Our Services</h1>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="/Default/Index/">ANA SAYFA</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            Servislerimiz
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>