@model UpdateFooterDto
@{
    ViewData["Title"] = "UpdateFooter";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="ID" />

    <label>Açıklama</label>
    <input type="text" asp-for="Text" class="form-control" />
    <span asp-validation-for="Text" class="text-info"></span>
    <br />

    <label>Şirket Adresi</label>
        <input type="text" asp-for="Adress" class="form-control" />
        <span asp-validation-for="Adress" class="text-info"></span>

    <label>Email Adresi</label>
    <input type="text" asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-info"></span>

    <br />

    <label>Telefon</label>
    <input type="text" asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-info"></span>
    <br />

    <label>WebSite</label>
    <input type="text" asp-for="Website" class="form-control" />
    <span asp-validation-for="Website" class="text-info"></span>
    <br />

    <label>Fotoğraf 1</label>
    <input type="text" asp-for="Gallery1" class="form-control" />
    <span asp-validation-for="Gallery1" class="text-info"></span>
    <br />

    <label>Fotoğraf 2</label>
    <input type="text" asp-for="Gallery2" class="form-control" />
    <span asp-validation-for="Gallery2" class="text-info"></span>
    <br />

    <label>Fotoğraf 3</label>
    <input type="text" asp-for="Gallery3" class="form-control" />
    <span asp-validation-for="Gallery3" class="text-info"></span>
    <br />

    <label>Fotoğraf 4</label>
    <input type="text" asp-for="Gallery4" class="form-control" />
    <span asp-validation-for="Gallery4" class="text-info"></span>
    <br />

    <label>Fotoğraf 5</label>
    <input type="text" asp-for="Gallery5" class="form-control" />
    <span asp-validation-for="Gallery5" class="text-info"></span>
    <br />

    <label>Fotoğraf 6</label>
    <input type="text" asp-for="Gallery6" class="form-control" />
    <span asp-validation-for="Gallery6" class="text-info"></span>
    <br />



    <button class="btn btn-primary">Bilgileri Güncelle</button>
</form>

