<section class="deal">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 deal-inner">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="deal-img">
                            <span class="deal-coupon">25% Off</span>
                            <img src="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/images/bg/about1.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="deal-info section-heading">
                            <span class="subtitle">Deal Of The Day</span>
                            <h2>Organic Lotion</h2>
                            <p>25% Off For This Week. Hurry Up To Out Off Stock.Check out more products we have</p>
                            <a href="#" class="btn btn-main2">Shop Now<i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>