<!--**********************************
    Sidebar start
***********************************-->
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="icon-magic-wand menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>

            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>

            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Hayvanlar</span>
                </a>
            </li>

            <li>
                <a href="/Owner/Index/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Müşteriler</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->
