<section class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="https://i.hizliresim.com/4hvsc4t.jfif" alt="" class="img-fluid">
                    <a href="#" class="video-play"><i class="fa fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-heading text-left about-info">
                    <h4 class="subheading">Biz Kimiz?</h4>
                    <span class="subtitle">BİZ KİMİZ ?</span>
                    <h2>Online Pet Blog & <span>Hayvanseverler Kulübü</span></h2>
                    <p>
                        Evcil dostunuz hakkında merak ettiğiniz tüm konular için bilgi alabilir ve diğer hayvanseverlerin 
                        tecrübelerine ulaşabilir, sahipsiz hayvanlar için barınaklara bağış bölümüyle güvenilir
                        şekilde mama bağışı yapabilir, site üzerinden ihtiyacınız olan köpek maması, kedi maması, kedi kumu ve diğer tüm kedi köpek
                        ürünlerini güvenli ve uygun fiyatlarla satın alabilirsiniz.
                    </p>
                    <ul>
                        <li><i class="ti-check"></i> Kedi-Köpek Maması</li>
                        <li><i class="ti-check"></i> Aksesuarlar</li>
                        <li><i class="ti-check"></i> Oyuncaklar</li>
                        <li><i class="ti-check"></i> Sağlık-Bakım</li>
                    </ul>

                    <a href="/Service/Index/" class="btn btn-main">Hizmetlerimiz<i class="ti-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>