<section class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/images/bg/bg2.jpg" alt="" class="img-fluid">
                    <a href="#" class="video-play"><i class="fa fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-heading text-left about-info">
                    <h4 class="subheading">About</h4>
                    <span class="subtitle">our story</span>
                    <h2>Healthy,tasty & <span>Fresh Organic Food</span></h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, nesciunt reiciendis? Eligendi,
                        commodi omnis! Rem nulla quas adipisicing elit Sed ut perspiciatis
                    </p>
                    <ul>
                        <li><i class="ti-check"></i> Natuaral Foods</li>
                        <li><i class="ti-check"></i> Improve Health</li>
                        <li><i class="ti-check"></i> Add strength and energy</li>
                        <li><i class="ti-check"></i> Reduces weight</li>
                    </ul>

                    <a href="#" class="btn btn-main">Our Services<i class="ti-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>