@model CreateFeatureDto
@{
    ViewData["Title"] = "AddFeature";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Hizmet Fotoğrafı</label>
    <input type="text" asp-for="Photo" class="form-control" />
    <span asp-validation-for="Photo" class="text-danger"></span>


    <label>Hizmet Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>

    <br />

    <label>Açıklama</label>
    <input type="text" asp-for="Explanation" class="form-control" />
    <span asp-validation-for="Explanation" class="text-danger"></span>

    <br />



    <button class="btn btn-primary">Hizmeti Ekle</button>
</form>

