@model List<ResultFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hizmet Başlığı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.FeatureID</th>
            <td>@item.Title</td>
            <td><a href="/Feature/DeleteFeature/@item.FeatureID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Feature/UpdateFeature/@item.FeatureID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Feature/AddFeature/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Hizmet Girişi</a>