@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}



<form method="post">
    <input type="hidden" asp-for="FeatureID" />

    <label>Hizmet Fotoğrafı</label>
    <input type="text" asp-for="Photo" class="form-control" />
    <span asp-validation-for="Photo" class="text-info"></span>
    <br />

    <label>Hizmet Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-info"></span>

    <br />

    <label>Açıklama</label>
    <input type="text" asp-for="Explanation" class="form-control" />
    <span asp-validation-for="Explanation" class="text-info"></span>

    <br />



    <button class="btn btn-primary">Hizmeti Güncelle</button>
</form>

