<header>
    <!-- Main Menu Start -->

    <div class="site-navigation main_menu " id="mainmenu-area">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/Default/Index/">
                    <img src="https://i.hizliresim.com/cif2ooh.png" alt="Orgenik" class="img-fluid" style="height:100px;width:150px">
                </a>

                <!-- Toggler -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a href="/Default/Index/" class="nav-link">
                                ANA SAYFA
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="/About/Index/" class="nav-link">
                                HAKKIMIZDA
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a href="/Service/Index/" class="nav-link">
                                HİZMETLERİMİZ
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a href="/BlogList/Index/" class="nav-link">
                                BLOGLAR
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a href="/Contact/Index/" class="nav-link">
                                ULAŞIN
                            </a>
                        </li>

                        @*<li class="nav-item ">
                            <a href="#" class="nav-link">
                                PETLERİM
                            </a>
                        </li>

                        <li class="nav-item" >
                            <a href="#" class="nav-link">
                                PROFİL
                            </a>
                        </li>*@
                    </ul>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">PETLERİM</a>
                            <a class="dropdown-item" href="#">PROFİL</a>
                            <a class="dropdown-item" href="#">ÇIKIŞ YAP</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">PETLERİM</a>
                            <a class="dropdown-item" href="#">PROFİL</a>
                            <a class="dropdown-item" href="#">ÇIKIŞ YAP</a>
                        </div>
                    </div>


                </div> <!-- / .navbar-collapse -->


            </nav>


        </div>
    </div>
</header>

