@model List<ResultShopProcessDto>

<section class="order-booking ">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                var index = Model.IndexOf(item); // Öğenin indeksini al
                var serviceNumber = index + 1; // Sıra numarasını hesapla
                <div class="col-lg-3 col-md-6">
                    <div class="order-item active">
                        <i class="ti-search"></i>
                        <h4>@serviceNumber.ToString("D1")- @item.Title</h4>
                        <p>@item.Explanation</p>
                    </div>
                </div>
            }

        </div>



        @*<div class="col-lg-3 col-md-6">
        <div class="order-item active">
        <i class="ti-search"></i>
        <h4>1-Discover</h4>
        <p>Take a look at our fruit & veg bags seasonal produce</p>
        </div>
        </div>
        <div class="col-lg-3 col-md-6">
        <div class="order-item">
        <i class="ti-thumb-up"></i>
        <h4>2-Order</h4>
        <p>Your order will be harvested and delivered to you</p>
        </div>
        </div>

        <div class="col-lg-3 col-md-6">
        <div class="order-item">
        <i class="ti-shopping-cart-full"></i>
        <h4>3-Get Your Prduct</h4>
        <p>Your order will be harvested and delivered to you</p>
        </div>
        </div>

        <div class="col-lg-3 col-md-6">
        <div class="order-item">
        <i class="ti-face-smile"></i>
        <h4>4-Enjoy!</h4>
        <p>Enjoy healthy fresh organic produce and our recipes</p>
        </div>
        </div>*@

    </div>
</section>