<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Organic Food Html Template">
    <meta name="keywords" content="orgenik,organic,food,marketing,shop,product,organic food,farmer,agriculture,fruits,vegetables,healthy food,resposnsive,Fruits Shop, vegetable store">

    <meta name="author" content="themeturn.com">

    <title>Pets Project</title>

    <!-- Mobile Specific Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/css/bootstrap.css">
    <!-- Iconfont Css -->
    <link rel="stylesheet" href="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/vendors/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/vendors/themify/themify-icons.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/vendors/animate-css/animate.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/vendors/slick/slick.css">
    <link rel="stylesheet" href="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/vendors/slick/slick-theme.css">
    <link rel="stylesheet" href="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/vendors/owl/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/vendors/owl/assets/owl.theme.default.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/css/style.css">
    <link rel="stylesheet" href="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/css/responsive.css">




</head>