@model CreateContactDto
<section class="contact pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h4 class="subheading">İLETİŞİM</h4>
                    <span class="subtitle">İLETİŞİM</span>
                    <h2>Sorularınız mı var ? <span>         Bize yazın!</span></h2>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-9">
                <form class="contact__form form-row " method="post" asp-action="SendMessage" asp-controller="Contact">
                    @*<div class="row">
                    <div class="col-12">
                    <div class="alert alert-success contact__msg" style="display: none" role="alert">
                    Your message was sent successfully.
                    </div>
                    </div>
                    </div>*@

                    <div class="row form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Adınız Soyadınız" name="Name">

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Mail Adresiniz" name="Mail">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" placeholder="Konu Başlığı" name="Subject">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Mesajınızı Buraya Yazabilirsiniz" name="Message" id="message" style="height: 150px"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="mt-4 text-center">
                            <button class="btn btn-main2" type="submit">Mesajı Gönder <i class="ti-angle-right ml-2"></i></button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>

    </div>
</section>

