<section class="cta" style="background:url(https://i.hizliresim.com/jc9ia5k.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="cta-content">
                    <h2>Bu sitede <span>10 Yıldır</span> evcil dostlarımızın yanındayız</h2>
                    <a href="#" class="btn btn-main">Blog Yazılarımız<i class="ti-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>