<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="cta-content">
                    <h2>We provide our food for <span>last 25 Years</span> successfully</h2>
                    <a href="#" class="btn btn-main">Our Products<i class="ti-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>