<section class="cta-2 section-padding pb-190">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading">
                    <span class="subtitle">Welcome to store</span>
                    <h2>Want To Get Out Natural Organic Food Visit Our store?</h2>
                    <a href="#" class="btn btn-main">Contact Us<i class="ti-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>