<div class="blog-page main-content-area">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="blog-sidebar mt-5 mt-lg-0">
                    <div class="widget widget_search">
                        <h4 class="widget-title">Search</h4>
                        <form role="search" class="search-form">
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    <div class="widget widget_news">
                        <h4 class="widget-title">Latest Posts</h4>
                        <ul class="recent-posts">
                            <li>
                                <div class="widget-post-thumb">
                                    <a href="#"><img src="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/images/blog/post-thumb-2.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <div class="widget-post-body">
                                    <span>10 april 2020</span>
                                    <h6> <a href="#">Organic Food in your door</a></h6>
                                </div>
                            </li>
                            <li>
                                <div class="widget-post-thumb">
                                    <a href="#"><img src="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/images/blog/post-thumb-3.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <div class="widget-post-body">
                                    <span>10 april 2020</span>
                                    <h6> <a href="#">Get high quality food</a></h6>
                                </div>
                            </li>

                        </ul>
                    </div>


                    <div class="widget widget_categories">
                        <h4 class="widget-title">Categories</h4>
                        <ul>
                            <li class="cat-item"><a href="#"><i class="fa fa-angle-right"></i>Web Design</a>(4)</li>
                            <li class="cat-item"><a href="#"><i class="fa fa-angle-right"></i>Wordpress</a>(14)</li>
                            <li class="cat-item"><a href="#"><i class="fa fa-angle-right"></i>Marketing</a>(24)</li>
                            <li class="cat-item"><a href="#"><i class="fa fa-angle-right"></i>Design & dev</a>(6)</li>
                        </ul>
                    </div>

                    <div class="widget widget_tag_cloud">
                        <h4 class="widget-title">Tags</h4>
                        <a href="#">Design</a>
                        <a href="#">Development</a>
                        <a href="#">UX</a>
                        <a href="#">Marketing</a>
                        <a href="#">Tips</a>
                        <a href="#">Tricks</a>
                        <a href="#">Ui</a>
                        <a href="#">Free</a>
                        <a href="#">Wordpress</a>
                        <a href="#">bootstrap</a>
                        <a href="#">Tutorial</a>
                        <a href="#">Html</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>