@model List<ResultProductDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hizmet Başlığı</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ProductId</th>
            <td>@item.Title</td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-danger">Detaylar</a></td>
        </tr>
    }
</table>