@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

@await Component.InvokeAsync("_HeadPartial")

<body id="top-header">

    @if (User.Identity.IsAuthenticated)
    {
        @await Html.PartialAsync("/Views/MemberLayout/MemberHeaderPartial.cshtml")
    }
    else
    {
        @await Component.InvokeAsync("_AboutHeaderPartial")
    }
    

    @await Component.InvokeAsync("_AboutTeamPartial")

    @await Component.InvokeAsync("_AboutCta2Partial")

    @await Component.InvokeAsync("_FooterPartial")

    @await Component.InvokeAsync("_ButtonTopPartial")

    @await Component.InvokeAsync("_AboutScriptsPartial")

    
</body>
</html>