@model CreateTeamDto
@{
    ViewData["Title"] = "AddTeam";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">

    <label>Personel Fotoğrafı</label>
    <input type="text" asp-for="PhotoUrl" class="form-control" />
    <span asp-validation-for="PhotoUrl" class="text-danger"></span>


    <label>Personel Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />

    <label>Personel Soyadı</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <span asp-validation-for="Surname" class="text-danger"></span>
    <br />

    <label>Personel Görevi</label>
    <input type="text" asp-for="Job" class="form-control" />
    <span asp-validation-for="Job" class="text-danger"></span>
    <br />



    <button class="btn btn-primary">Personel Ekle</button>
</form>

