
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

@await Component.InvokeAsync("_HeadPartial")

<body id="top-header">


    <header>
        <!-- Main Menu Start -->

        <div class="site-navigation main_menu " id="mainmenu-area">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html">
                        <img src="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/images/logo-dark.png" alt="Orgenik" class="img-fluid">
                    </a>

                    <!-- Toggler -->

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>

                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" id="navbarMenu">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Home
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbar3">
                                    <a class="dropdown-item " href="index.html">
                                        Home-1
                                    </a>
                                    <a class="dropdown-item " href="index-2.html">
                                        Home-2
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a href="about.html" class="nav-link js-scroll-trigger">
                                    About
                                </a>
                            </li>

                            <li class="nav-item ">
                                <a href="service.html" class="nav-link js-scroll-trigger">
                                    Services
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Blog
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbar3">
                                    <a class="dropdown-item " href="blog.html">
                                        Blog
                                    </a>
                                    <a class="dropdown-item " href="blog-single.html">
                                        Blog Single
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a href="contact.html" class="nav-link">
                                    Contact
                                </a>
                            </li>
                        </ul>

                        <div class="header-contact d-flex align-items-center">
                            <div class="header-contact-icon">
                                <i class="ti-headphone-alt"></i>
                            </div>
                            <div class="contact-text">
                                <span>Contact for support </span>
                                <h4>34 345 23546</h4>
                            </div>
                        </div>
                    </div> <!-- / .navbar-collapse -->
                </nav>
            </div> <!-- / .container -->
        </div>
    </header>

    <section class="page-header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="block">
                        <h1>Blog</h1>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="list-inline-item">/</li>
                            <li class="list-inline-item">
                                Blog
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="blog-page main-content-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <article class="blog-post post-bg">
                        <div class="post-media">
                            <img src="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/images/blog/blog1.jpg" alt="" class="img-fluid">
                        </div>

                        <div class="post-content">
                            <div class="post-meta entry-meta">
                                <span class="post-date"><i class="fa fa-calendar-alt"></i>May 9, 2020</span>
                                <span class="post-author"><i class="fa fa-user"></i>Admin</span>
                                <span class="post-comment"><a href="#"><i class="fa fa-comments"></i>1 Comment</a></span>
                            </div>
                            <h2 class="post-title"><a href="blog-single.html">How to become a best sale marketer in a month!</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, aliquam, aliquid. Eos eum,  delectus voluptas architecto, quos amet hic aliquid!</p>
                            <a href="blog-single.html" class="btn btn-main2">More Details <i class="fa fa-angle-right"></i></a>
                        </div>
                    </article>


                    <article class="blog-post post-bg">
                        <div class="post-media">
                            <img src="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/images/blog/blog2.jpg" alt="" class="img-fluid">
                        </div>

                        <div class="post-content">
                            <div class="post-meta entry-meta">
                                <span class="post-date"><i class="fa fa-calendar-alt"></i>May 9, 2020</span>
                                <span class="post-author"><i class="fa fa-user"></i>Admin</span>
                                <span class="post-comment"><a href="#"><i class="fa fa-comments "></i>1 Comment</a></span>
                            </div>
                            <h2 class="post-title"><a href="blog-single.html">How to become a best sale marketer in a month!</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, aliquam, aliquid. Eos eum,  delectus voluptas architecto, quos amet hic aliquid!</p>
                            <a href="blog-single.html" class="btn btn-main2">More Details <i class="fa fa-angle-right"></i></a>
                        </div>
                    </article>

                    <article class="blog-post post-bg">
                        <div class="post-media">
                            <img src="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/images/blog/blog3.jpg" alt="" class="img-fluid">
                        </div>

                        <div class="post-content">
                            <div class="post-meta entry-meta">
                                <span class="post-date"><i class="fa fa-calendar-alt"></i>May 9, 2020</span>
                                <span class="post-author"><i class="fa fa-user"></i>Admin</span>
                                <span class="post-comment"><a href="#"><i class="fa fa-comments"></i>1 Comment</a></span>
                            </div>

                            <h2 class="post-title"><a href="blog-single.html">How to become a best sale marketer in a month!</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, aliquam, aliquid. Eos eum,  delectus voluptas architecto, quos amet hic aliquid!</p>
                            <a href="blog-single.html" class="btn btn-main2">More Details <i class="fa fa-angle-right"></i></a>
                        </div>
                    </article>







                    <nav class="blog-pagination">
                        <ul>
                            <li class="page-num active"><a href="#">2</a></li>
                            <li class="page-num"><a href="#">2</a></li>
                            <li class="page-num"><a href="#">3</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4">
                    <div class="blog-sidebar mt-5 mt-lg-0">
                        <div class="widget widget_search">
                            <h4 class="widget-title">Search</h4>
                            <form role="search" class="search-form">
                                <input type="text" class="form-control" placeholder="Search">
                                <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <div class="widget widget_news">
                            <h4 class="widget-title">Latest Posts</h4>
                            <ul class="recent-posts">
                                <li>
                                    <div class="widget-post-thumb">
                                        <a href="#"><img src="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/images/blog/post-thumb-2.jpg" alt="" class="img-fluid"></a>
                                    </div>
                                    <div class="widget-post-body">
                                        <span>10 april 2020</span>
                                        <h6> <a href="#">Organic Food in your door</a></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="widget-post-thumb">
                                        <a href="#"><img src="~/orgenik-organic-food-html5-template-2022-02-21-23-53-47-utc/orgenik-file/assets/images/blog/post-thumb-3.jpg" alt="" class="img-fluid"></a>
                                    </div>
                                    <div class="widget-post-body">
                                        <span>10 april 2020</span>
                                        <h6> <a href="#">Get high quality food</a></h6>
                                    </div>
                                </li>

                            </ul>
                        </div>


                        <div class="widget widget_categories">
                            <h4 class="widget-title">Categories</h4>
                            <ul>
                                <li class="cat-item"><a href="#"><i class="fa fa-angle-right"></i>Web Design</a>(4)</li>
                                <li class="cat-item"><a href="#"><i class="fa fa-angle-right"></i>Wordpress</a>(14)</li>
                                <li class="cat-item"><a href="#"><i class="fa fa-angle-right"></i>Marketing</a>(24)</li>
                                <li class="cat-item"><a href="#"><i class="fa fa-angle-right"></i>Design & dev</a>(6)</li>
                            </ul>
                        </div>

                        <div class="widget widget_tag_cloud">
                            <h4 class="widget-title">Tags</h4>
                            <a href="#">Design</a>
                            <a href="#">Development</a>
                            <a href="#">UX</a>
                            <a href="#">Marketing</a>
                            <a href="#">Tips</a>
                            <a href="#">Tricks</a>
                            <a href="#">Ui</a>
                            <a href="#">Free</a>
                            <a href="#">Wordpress</a>
                            <a href="#">bootstrap</a>
                            <a href="#">Tutorial</a>
                            <a href="#">Html</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    @await Component.InvokeAsync("_FooterPartial")

    @await Component.InvokeAsync("_ButtonTopPartial")

    @await Component.InvokeAsync("_BlogListScriptsPartial")
</body>
</html>