
@{
   
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

@await Component.InvokeAsync("_HeadPartial")

<body id="top-header">

    @await Component.InvokeAsync("_BlogListHeaderPartial")

    @await Component.InvokeAsync("_ReadBlogPartial")

   
    @await Component.InvokeAsync("_FooterPartial")

    @await Component.InvokeAsync("_ButtonTopPartial")

    @await Component.InvokeAsync("_BlogListScriptsPartial")
</body>
</html>

