<section class="cta-2 section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading">
                    <span class="subtitle">Mağazamıza Hoşgeldiniz</span>
                    <h2>%100 doğal hayvan mamalarımız hakkında sorularınız mı var?</h2>
                    <a href="#" class="btn btn-main">Bize Ulaşın<i class="ti-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>