@model List<PetsViewModel>
@{

    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Pet Adı</th>
        <th>Pet cinsiyeti</th>
        <th>Pet Türü</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.PetsID</th>
            <td>@item.Name</td>
            <td>@item.Gender</td>
            <td><a href="/Pets/DeletePet/@item.PetsID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Pets/UpdatePet/@item.PetsID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Pets/AddPet/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Pet Gir</a>