@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

@await Component.InvokeAsync("_HeadPartial")


<body id="top-header">

    @await Component.InvokeAsync("_HeaderPartial")

    @await Component.InvokeAsync("_BannerPartial")

    @await Component.InvokeAsync("_FeaturePartial")

    @await Component.InvokeAsync("_AboutPartial")

    @await Component.InvokeAsync("_ServicePartial")

    @await Component.InvokeAsync("_CtaPartial")

    @await Component.InvokeAsync("_About2Partial")

    @await Component.InvokeAsync("_OrderBookingPartial")

    @await Component.InvokeAsync("_Cta2Partial")

    @await Component.InvokeAsync("_DealPartial")

    @await Component.InvokeAsync("_BlogPartial")

    @await Component.InvokeAsync("_ClientLogoPartial")

    @await Component.InvokeAsync("_FooterPartial")

    @await Component.InvokeAsync("_ButtonTopPartial")

    @await Component.InvokeAsync("_ScriptsPartial")


</body>
</html>
