@model AddOwnerViewModel
@{
    ViewData["Title"] = "AddOwner";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<form method="post">
    <label>Müşteri Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <label>Müşteri Soyadı</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />       

    <button class="btn btn-primary">Müşteriyi Ekle</button>
</form>

